/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(rgb(45, 5, 5)
    ,rgb(1, 7, 6),rgba(51, 9, 9, 0.963));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
